
@font-face {
    font-display:swap;
    font-family: 'Minecraft Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Regular'), url('MC.woff') format('woff');
}
h1 {
    font-family: 'Minecraft Regular';
}
